<section class="page__deals deals">
    <div class="deals__container">
      <div class="deals__header header-deals">
        <div class="header-deals__content">
          <h2 class="header-deals__title title">Best Real Estate Deals</h2>
          <div class="header-deals__text">Colonel gravity get thought fat smiling add but. Wonder twenty hunted and put income set desire expect.</div>
        </div>
        <a href="#" class="header-deals__link">View All Property</a>
      </div>
      <div class="deals__tabs tabs__deals">
        <nav class="tabs-deals__nav">
          <button type="button" class="tabs-deals__button active">Residential Property</button>
          <button type="button" class="tabs-deals__button">Commercial Property</button>
          <button type="button" class="tabs-deals__button">Agriculture Property</button>
          <button type="button" class="tabs-deals__button">Industrial Property</button>
        </nav>
        <div class="tabs-deals__body">
          <div class="tabe-deals__item item-tabs active">
            <div class="item-tabs__items">
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause1.jpg" alt="Image">
                </a>
              </div>
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause2.jpg" alt="Image">
                </a>
              </div>
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause3.jpg" alt="Image">
                </a>
              </div>
            </div>
          </div>
          <div class="tabe-deals__item item-tabs">
            <div class="item-tabs__items">
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause4.jpg" alt="Image">
                </a>
              </div>
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause5.jpg" alt="Image">
                </a>
              </div>
            </div>
          </div>
          <div class="tabe-deals__item item-tabs">
            <div class="item-tabs__items">
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause6.jpg" alt="Image">
                </a>
              </div>
            </div>
          </div>
          <div class="tabe-deals__item item-tabs">
            <div class="item-tabs__items">
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause7.jpg" alt="Image">
                </a>
              </div>
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause2.jpg" alt="Image">
                </a>
              </div>
            </div>
          </div>
          <div class="tabe-deals__item item-tabs">
            <div class="item-tabs__items">
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause4.jpg" alt="Image">
                </a>
              </div>
              <div class="item-tabs__item">
                <div class="item-tabs__options">
                  <a href="#" class="item-tabs__option">Featured</a>
                  <a href="#" class="item-tabs__option">3d</a>
                </div>
                <a class="item-tabs__image">
                  <img src="./img/main/deals/hause1.jpg" alt="Image">
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>