<section class="page__reviews reviews">
    <div class="reviews__container">
      <h2 class="reviews__title title">Loved by businesses, and individuals across the globe.</h2>
      <div class="reviews__items">
        <a href="#" class="reviews__item item-reviews">
          <div class="item-reviews__raiting simple-rating">
            <div class="simple-rating__items">
              <input id="simple-rating__5" type="radio" name="simple-rating-1" value="5" class="simple-rating__item">
              <label for="simple-rating__5" class="simple-rating__label"></label>
              <input id="simple-rating__4" type="radio" name="simple-rating-1" value="4" class="simple-rating__item">
              <label for="simple-rating__4"  class="simple-rating__label"></label>
              <input id="simple-rating__3" type="radio" checked name="simple-rating-1" value="3" class="simple-rating__item">
              <label for="simple-rating__3" class="simple-rating__label"></label>
              <input id="simple-rating__2" type="radio" name="simple-rating-1" value="2" class="simple-rating__item">
              <label for="simple-rating__2" class="simple-rating__label"></label>
              <input id="simple-rating__1" type="radio" name="simple-rating-1" value="1" class="simple-rating__item">
              <label for="simple-rating__1" class="simple-rating__label"></label>
            </div>
          </div>
          <div class="item-reviews__text">
            <p>Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible. Consulted admitting oh mr up as described.</p>
          </div>
          <div class="item-reviews__author author-item-reviews">
            <div class="author-item-reviews__avatar">
              <img src="./img/main/reviews/pepople1.jpg" alt="Avatar">
            </div>
            <div class="author-item-reviews__body">
              <div class="author-item-reviews__name">Jane Cooper</div>
              <div class="author-item-reviews__location">Los Angeles, CA</div>
            </div>
          </div>
        </a>
        <a href="#" class="reviews__item item-reviews">
          <div class="item-reviews__raiting simple-rating">
            <div class="simple-rating__items">
              <input id="simple-rating__15" type="radio" name="simple-rating-2" value="5" class="simple-rating__item">
              <label for="simple-rating__15" class="simple-rating__label"></label>
              <input id="simple-rating__14" type="radio" name="simple-rating-2" value="4" class="simple-rating__item">
              <label for="simple-rating__14" class="simple-rating__label"></label>
              <input id="simple-rating__13" type="radio" checked name="simple-rating-2" value="3" class="simple-rating__item">
              <label for="simple-rating__13" class="simple-rating__label"></label>
              <input id="simple-rating__12" type="radio" name="simple-rating-2" value="2" class="simple-rating__item">
              <label for="simple-rating__12" class="simple-rating__label"></label>
              <input id="simple-rating__11" type="radio" name="simple-rating-2" value="1" class="simple-rating__item">
              <label for="simple-rating__11" class="simple-rating__label"></label>
            </div>
          </div>
          <div class="item-reviews__text">
            <p>Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible. Consulted admitting oh mr up as described.</p>
          </div>
          <div class="item-reviews__author author-item-reviews">
            <div class="author-item-reviews__avatar">
              <img src="./img/main/reviews/pepople2.jpg" alt="Avatar">
            </div>
            <div class="author-item-reviews__body">
              <div class="author-item-reviews__name">Jane Cooper</div>
              <div class="author-item-reviews__location">Los Angeles, CA</div>
            </div>
          </div>
        </a>
        <a href="#" class="reviews__item item-reviews">
          <div class="item-reviews__raiting simple-rating">
            <div class="simple-rating__items">
              <input id="simple-rating__25" type="radio" name="simple-rating-3" value="5" class="simple-rating__item">
              <label for="simple-rating__25" class="simple-rating__label"></label>
              <input id="simple-rating__24" type="radio" name="simple-rating-3" value="4" class="simple-rating__item">
              <label for="simple-rating__24" class="simple-rating__label"></label>
              <input id="simple-rating__23" checked type="radio" name="simple-rating-3" value="3" class="simple-rating__item">
              <label for="simple-rating__23" class="simple-rating__label"></label>
              <input id="simple-rating__22" type="radio" name="simple-rating-3" value="2" class="simple-rating__item">
              <label for="simple-rating__22" class="simple-rating__label"></label>
              <input id="simple-rating__21" type="radio" name="simple-rating-3" value="1" class="simple-rating__item">
              <label for="simple-rating__21" class="simple-rating__label"></label>
            </div>
          </div>
          <div class="item-reviews__text">
            <p>Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible. Consulted admitting oh mr up as described.</p>
          </div>
          <div class="item-reviews__author author-item-reviews">
            <div class="author-item-reviews__avatar">
              <img src="./img/main/reviews/pepople3.jpg" alt="Avatar">
            </div>
            <div class="author-item-reviews__body">
              <div class="author-item-reviews__name">Jane Cooper</div>
              <div class="author-item-reviews__location">Los Angeles, CA</div>
            </div>
          </div>
        </a>
      </div>
      <div class="reviews__footer footer-reviews">
        <div class="footer-reviews__partners partners-footer-reviews">
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group1.svg" alt="partners">
          </div>
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group2.svg" alt="partners">
          </div>
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group3.svg" alt="partners">
          </div>
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group4.svg" alt="partners">
          </div>
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group5.svg" alt="partners">
          </div>
          <div class="partners-footer-reviews__item">
            <img src="./img/main/partners/group6.svg" alt="partners">
          </div>
        </div>
        <div class="footer-reviews__info ">
          Give us a Call 1-888-111-2222 and we can set you up, or <a href="#">check our pricing plans</a>
        </div>
      </div>
    </div>
  </section>