<section class="page__main main-block">
    <div class="main-block__container">
      <div class="main-block__body body-main-block">
        <div class="body-main-block__content content-main-block">
          <div class="content-main-block__body">
              <div class="content-main-block-sub-title">RESIDENTIAL & OFFICE SPACES</div>
              <h1 class="content-main-block__title">Smart Living Style
                  for Smart People</h1>
              <div class="content-main-block__text">Much did had call new drew that kept. Limits expect wonder law she. Now has you views woman noisy match money rooms.</div>
          </div>
          <!--Form  -->
          <form class="content-main-block__form form-main-block" action="#">
              <input type="text" placeholder="Enter Zipcode to search properties" class="form-main-block__input" ></input>
              <button type="submit" class="form-main-block__button">Search Now!</button>
          </form>
        </div>
        <!-- slider container-->
        <div class="body-main-block__slider slider-main-block swiper">
          <!-- Additional required wrapper -->
          <div class="slider-main-block__wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="slider-main-block__slide swiper-slide">
              <img src="./img/main/slider/sky4.jpg" alt="Slider Image">
            </div>
            <div class="slider-main-block__slide swiper-slide">
              <img src="./img/main/slider/sky2.jpg" alt="Slider Image">
            </div>
            <div class="slider-main-block__slide swiper-slide">
              <img src="./img/main/slider/sky3.jpg" alt="Slider Image">
            </div>
            <div class="slider-main-block__slide swiper-slide">
              <img src="./img/main/slider/sky1.jpg" alt="Slider Image">
            </div>
            <div class="slider-main-block__slide swiper-slide">
              <img src="./img/main/slider/sky5.jpg" alt="Slider Image">
            </div>
          </div>
          <!-- If we need navigation buttons -->
        
        </div>
        <div class="body-main-block__arrows">
          <div class="body-main-block__arrow swiper-button-prev"></div>
          <div class="body-main-block__arrow swiper-button-next"></div> 
      </div>
      </div>
      <div class="main-block__partners partners-main-block">
          <div class="partners-main-block__laber">Our Amazing Partners</div>
          <div class="partners-main-block__items">
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group1.svg" alt="Partners">
            </div>
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group2.svg" alt="Partners">
            </div>
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group3.svg" alt="Partners">
            </div>
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group4.svg" alt="Partners">
            </div>
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group5.svg" alt="Partners">
            </div>
            <div class="partners-main-block__item">
                <img src="./img/main/partners/group6.svg" alt="Partners">
            </div>
          </div>
    </div>
  </section>