<div class="social">
    <a href="#" class="social__item">
        <img
            src="./img/main/social/facebook.svg"
            height="20.77"
            weight="11.21"
            alt="Facebook"
        />
    </a>
    <a href="#" class="social__item">
        <img
            src="./img/main/social/instagram.svg"
            height="21"
            weight="21"
            alt="Instagram"
        />
    </a>
    <a href="#" class="social__item">
        <img
            src="./img/main/social/twiter.svg"
            height="15.38"
            weight="18.92"
            alt="Twiter"
        />
    </a>
    <a href="#" class="social__item">
        <img
            src="./img/main/social/linkedin.svg"
            height="18"
            weight="19"
            alt="Linkedin"
        />
    </a>
</div>